<section class="container-finalizar-compra">
    <div class="medios-de-pago">
        <p>Precio final:</p>
        <div class="cta-medios-de-pago">
            <button>Transferencia</button>
            <button>Mercado Pago</button>
            <button>Debit</button>
        </div>
    </div>
    <div class="productos">
        <ul class="lista-de-productos">
            <li>
                <img src="" alt="">
                <p>VIDEO GEFORCE RTX 3050 8GB GIGABYTE EAGLE</p>
                <p>2</p>
                <p>$130.000</p>
            </li>
            <li>
                <img src="" alt="">
                <p>VIDEO GEFORCE RTX 3050 8GB GIGABYTE EAGLE</p>
                <p>2</p>
                <p>$130.000</p>
            </li>
            <li>
                <img src="" alt="">
                <p>VIDEO GEFORCE RTX 3050 8GB GIGABYTE EAGLE</p>
                <p>2</p>
                <p>$130.000</p>
            </li>
        </ul>
    </div>
</section>