<div class="container-products">
    <div class="product" *ngFor="let product of products">
      <div>
        <img [src]="product.imagen" alt="Imagen del producto">
        <p>{{ product.nombre }}</p>
        <p>{{ product.precio }}</p>
        <!-- <p>{{ product.descripcion }}</p> -->
        <button (click)="addToCart(product.id)">Agregar</button>
      </div>
    </div>
</div>


<div class="carrito">
  <h3>carrito</h3>
  <div class="product" *ngFor="let product of productsCart">
    <div>
      <p>{{ product.id }}</p>
      <p>{{ product.nombre }}</p>
      <p>{{ product.descripcion }}</p>
      <button (click)="deleteComponentCart(product.id)">Eliminar</button>

    </div>
  </div>
</div>
