<div class="container-products">
    <div class="product" *ngFor="let product of products">
      <img [src]="product.imagen" alt="Imagen del producto">
      <div>
        <p>{{ product.nombre }}</p>
        <p>${{ product.precio }}</p>
        <button *ngIf="isProductInCart(product.id)" (click)="deleteComponentCart(product.id)">Eliminar</button>
      <button *ngIf="!isProductInCart(product.id)" (click)="addToCart(product.id)">Agregar</button>
      </div>
    </div>
</div>


<div class="carrito">
  <h3>carrito</h3>
  <div class="product" *ngFor="let product of productsCart">
    <div>
      <p>{{ product.nombre }}</p>
      <p>{{ product.precio }}</p>
      <div class="product-cart-count">
        <p (click)="decreaseQuantity(product)">-</p>
        <p>{{ product.cantidad }}</p>
        <p (click)="increaseQuantity(product)">+</p>
      </div>

      <button (click)="deleteComponentCart(product.id)">Eliminar</button>

    </div>
  </div>
</div>
