<div class="container-products">
    <div class="product" *ngFor="let product of products">
      <img [src]="product.imagen" alt="Imagen del producto">
      <div>
        <p>{{ product.nombre }}</p>
        <p>${{ product.precio }}</p>
        <button *ngIf="isProductInCart(product.id)" (click)="deleteComponentCart(product.id)">Eliminar</button>
      <button *ngIf="!isProductInCart(product.id)" (click)="addToCart(product.id)">Agregar</button>
      </div>
    </div>
</div>


<div class="container-cart">
  <h3>Carrito</h3>
  <div class="product-cart" *ngFor="let product of productsCart">
    <div class="product-cart-data">
      <p class="product-cart-data-title">{{ product.nombre }}</p>
      <p class="product-cart-data-price">{{ product.precio }}</p>
      <div class="product-cart-count">
        <button class="product-cart-button-count" (click)="decreaseQuantity(product)">-</button>
        <p>{{ product.cantidad }}</p>
        <button class="product-cart-button-count" (click)="increaseQuantity(product)">+</button>
      </div>

      <button class="product-cart-button-delete" (click)="deleteComponentCart(product.id)">X</button>

    </div>
  </div>
  <h4 *ngIf="productsCart.length > 0">Precio total: {{calcularPrecioTotal()}}</h4>
  <button *ngIf="productsCart.length > 0" (click)="compraFinalSwitch()">Comprar</button>
  <p class="cart-vacio" *ngIf="productsCart.length == 0">Carrito vacio</p>
</div>

<div class="finalizar-compra" *ngIf="compraFinal">
    <app-finalizar-compra></app-finalizar-compra>
</div>
